/vendor/
/logs/*
!/logs/README.md
/templates/cache/*
!/templates/cache/README.md
.DS_STORE
composer.lock
.idea/*

*.sublime-workspace


env/.vagrant
.idea/sanitex-api.iml
.idea/sanitex-api.iml
.idea/workspace.xml

public_html/api/api-docs.json
public_html/api/resources
.idea/workspace.xml

gitreq.txt

gitreq.txt
